bin/
dist/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
go.work
go.work.sum

# Vendor (optional, kalau pakai go mod vendor bisa dihapus)
vendor/

.env
env
.env.local
.env.prod
.env.*.local

*.log
logs/
tmp/

.vscode/
.idea/
*.swp
*.swo
*.DS_Store

docker-data/
*.tar

Thumbs.db

coverage.out
coverage.html
.aider*
